body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

.filterbtn {
    background-color: darkolivegreen;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn {
    background: rgb(55, 0, 255);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
}

.alert-success {
    background-color: #28a745;
    color: white;
    border: 1px solid #218838;
}

.pie-chart-container {
    position: sticky;
    top: 20px; /* Adjust this value based on your needs */
    z-index: 100; /* Ensure it's above other elements */
}
